<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/">
<head>
  <title>${book.title}</title>
  <style type="text/css">
.title, .authors {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.title {
  font-style: italic; 
  font-weight: bold;
  font-size: 2em;
  border: 2px solid #000000;
  padding: 0.3em;
}

span.author {
  font-size: 1.66667em;
  font-style: italic;
}
  </style>
</head>
<body>
    <p class="authors">
  <py:for each="creator, _ in book.creators">
  <span class="author">$creator</span>
  </py:for>
  </p>
  <p class="title">${book.title}</p>


  
</body>
</html>
